---

---

<section class="bg-white w-screen h- bg-blend-multiply bg-cover flex flex-col items-center justify-center pt-[3rem]">
    
    <div class="flex flex-col items-center justify-center w-[60%]">
        <h2 class="font-[900] text-black text-center text-[2rem] animate__animated animate__fadeInDown animate__delay-2 animate__slower">
            Software Asset Management
        </h2>
        <p class="font-[400] text-black text-[0.98rem] text-center animate__animated animate__fadeInDown animate__delay-2 animate__slower">
            At Otimize, we understand that having visibility is crucial for organizations to achieve successful business outcomes. We offer assessment services that provide clients with a detailed report on important factors such as user quantity, engine consumption, indirect access, and more, using SAP data such as USMM data and software data from Snow or SamQ. Our services are not just limited to providing information, but we also help clients to maximize their return on investment from their SAP assets, plan for migration to S/4 HANA, align their SAP resources to strategic organizational goals, and take advantage of SAP incentives. By utilizing factual data, our clients can make informed decisions that drive their businesses forward.
        </p>
    </div>
</section>