---
import 'animate.css';
---


<section class="bg-hero-pattern w-screen h-screen bg-blend-multiply bg-cover flex flex-col items-center justify-center">
    
    <div class="flex flex-col items-center justify-center w-[60%]">
        <h1 class="font-[900] text-white text-center text-[4rem] animate__animated animate__fadeInDown animate__delay-2 animate__slower">
            Optimize Your <span class="text-blue-700">SAP Assets</span>
        </h1>
        <p class="font-[400] text-white text-[1.78rem] text-center animate__animated animate__fadeInDown animate__delay-2 animate__slower">
            We Offer Our Experience And Expertise To Help Your Company To Optimize
            SAP Licenses And To Prepare Your Employees For SAP Audit.
        </p>
        <button type="button" class="text-white hover:text-white border border-white hover:bg-blue-700 hover:border-blue-700 font-[700] rounded-lg text-[1.2rem] px-5 py-2.5 text-center mr-2 mb-2 mt-[2rem] duration-700 animate__animated animate__fadeInUp animate__delay-4 animate__slower">Visit US to know more</button>
    </div>

</section>

